body {
  padding: 10px;
}
.form-container{
  max-width: 500px;
  display: block;
  margin: 0 auto; 
  margin-top: 50px;
}
.form-container > img{
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}
.form-container>label{
  width: 100%;
}
.dasbhboard-container{
   max-width: 1000px;
   margin: 0 auto;
}
.compose-btn{
   margin-top: 25px
}